<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    
    <%- include('./partials/header') %> 
    
    <main class="content">
        <h1>Films</h1>
        <h2 >Directed and Wrote</h2>
        <div class="entries-container">
            <% for(let film of films) { %>
                <% if(film.directed == true) { %> 
                    <div class="entries">
                        <a href="/films/<%=film.id%>">
                            <img src="<%=film.poster%>" alt="">
                        </a>
                    </div>
                    <% } %> 
            <% } %>  
        </div>

        <h2>Co-Wrote</h2>
        <div class="entries-container">
            <% for(let film of films) { %>
                <% if(film.directed == false) { %> 
                    <div class="entries">
                        <a href="/films/<%=film.id%>">
                            <img src="<%=film.poster%>" alt="">
                        </a>
                    </div>
                    <% } %> 
            <% } %>  
        </div>
    </main>

    <!-- <script src="/scripts/infoScripts.js"></script> -->
</body>
</html>