<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/styles/filmStyle.css">

</head>
<body>
    
    <%- include('./partials/header') %> 
    
    <div class="container">
        <div class="top-content">
            <div class="image-space">
                <img src="<%= serie.poster %> " alt="">
            </div>
            <div class="info-space">
                <p class="title"><%= serie.title %></p>
                <p class="year"><%= serie.year %> | Nº of seasons <%= serie.seasons %>  | <%= serie.duration %></p>
                <p class="genrer"><%= serie.genrer %></p>
                <p class="synopsis"><%= serie.synopsis %></p>
            </div>
        </div>
        <div class="bottom-content">
            <p class="trivia-title">Trivia</p>
            
            <% for(trivia of serie.trivia) { %> 
                <div class="trivia-entry">
                    &#8227; <%= trivia %> 
                </div>
            <% } %> 
        </div>
    </div>

</body>
</html>